.form{
    width: 500px;
    margin: 10px auto 0 auto;
    text-align: center;
}

.MuiOutlinedInput-root{
    margin-bottom: 10px;
}


.navbar-nav a{
    margin-right: 10px;
    text-decoration: none;
}

.navbar-nav a:last-child{
    margin-right: 0;
}